/* Light theme */
.profile-form-container {
  width: 500px;
  margin: auto;
  margin-top: 80px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.profile-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group input {
  width: 100%;
}

.btn-submit {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: #0056b3;
}

.btn-back {
  padding: 10px 20px;
  margin-right: 130px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-back:hover {
  background-color: #0056b3;
}

.error-message {
  color: #ff0000;
  margin-top: 10px;
  background-color: #ffecec;
  padding: 10px;
  border: 1px solid #ffb3b3;
  border-radius: 5px;
}

/* Dark theme */
[data-theme='dark'] .profile-form-container {
  background-color: #333;
  color: #fff;
  border: 1px solid #555;
}

[data-theme='dark'] .form-control {
  background-color: #444;
  color: #fff;
}

[data-theme='dark'] .btn-submit,
[data-theme='dark'] .btn-back {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

[data-theme='dark'] .btn-submit:hover,
[data-theme='dark'] .btn-back:hover {
  background-color: #0056b3;
}

[data-theme='dark'] .error-message {
  color: #ff0000;
  background-color: #ffecec;
  border: 1px solid #ffb3b3;
}
