.login-container {
    width: 100%;
    max-width: 400px;
    margin: 90px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    text-align: center;
    color: #2196f3;
}

.login-form label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

.login-form input {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.login-form button {
    width: 100%;
    padding: 12px;
    background-color: #2196f3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #1976d2;
}

.error-message {
    color: #ff0000;
    margin-top: 10px;
    background-color: #ffecec;
    padding: 10px;
    border: 1px solid #ffb3b3;
    border-radius: 5px;
}
.signup-message {
    color: #0077ff;
    margin-top: 10px;
    background-color: #ecffff;
    padding: 10px;
    border: 1px solid #64d1e4;
    border-radius: 5px;
}
.Forgot-Password {
    color: #0077ff;
    margin-top: 10px;
    background-color: #ecffff;
    padding: 10px;
    border: 1px solid #64d1e4;
    border-radius: 5px;
    align-items: center;
}
.fp-link{
    margin-left: 128px;
}
