.expense-list-container {
    margin: 20px;
}

.expense-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.expense-table th, .expense-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.expense-table th {
    background-color: #f2f2f2;
}

.edit-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .edit-button:hover {
    background-color: #0056b3;
  }
  .delete-button {
    padding: 10px 20px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .delete-button:hover {
    background-color: #b30000;
  }