/* Light theme */
.header {
  background-color: #333;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-section {
  display: flex;
  align-items: center;
}

.heading {
  color: white;
  margin: 0;
  font-size: 1.5rem;
}

.navbar {
  display: flex;
  justify-content: center;
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav-link:hover {
  color: #ddd;
}

.logout-button {
  background-color: #ff0000;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.logout-button:hover {
  background-color: #cc0000;
}

/* Dark theme */
[data-theme='dark'] .header {
  background-color: #222;
}

[data-theme='dark'] .heading {
  color: white;
}

[data-theme='dark'] .nav-link {
  color: white;
}

[data-theme='dark'] .nav-link:hover {
  color: #ddd;
}

[data-theme='dark'] .logout-button {
  background-color: #ff0000;
  color: white;
}

[data-theme='dark'] .logout-button:hover {
  background-color: #cc0000;
}
